<!-- <button data-id="{{id}}" class="btn btn-warning update-writing">Update Writing!</button> -->


<button type="button" data-id="{{id}}" class="btn btn-warning update-writing" data-toggle="modal" data-target="#updateWritingModal">
  Update Writing!
</button>
